[submodule "libs/WhirlyGlobe-Maply"]
	path = libs/WhirlyGlobe-Maply
	url = https://github.com/mousebird/WhirlyGlobe
[submodule "libs/LASzip"]
	path = libs/LASzip
	url = https://github.com/LASzip/LASzip
